@tailwind base;
@tailwind components;
@tailwind utilities;

#AboutDescription > code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: #f6fdfc;
    display: inline;
    padding: 2px 4px;
}

.input input:focus {
    outline: none;
    outline-offset: 0;
    box-shadow: none;
}

input:is(:-webkit-autofill, :autofill) {
  background-color: rgb(154, 65, 65);
   color: red !important;
}