@tailwind base;
@tailwind components;
@tailwind utilities;

#AboutDescription > code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: #07ccaf;
    display: inline;
    background-color: #b7bbba65;
    padding: 2px 4px;
}