@tailwind base;
@tailwind components;
@tailwind utilities;

#AboutDescription > code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    color: #f6fdfc;
    display: inline;
    padding: 2px 4px;
}